.invisible {
  opacity: 0;
}

.reveal ul ul {
  list-style: none;
}

.reveal ul.leading-questions {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  li {
    padding: 15px 0;

    &::before {
      content: unset;
    }

  }
}

.removeBullet::before {
  content: unset !important;
}